<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace = mapper接口的全限定符 -->
<mapper namespace="com.campushub.community.mapper.CommentMapper">

    <sql id="selectFields">
        id, user_id, entity_type, entity_id, target_id, content, status, create_time
    </sql>

    <sql id="insertFields">
        user_id, entity_type, entity_id, target_id, content, status, create_time
    </sql>

    <!--查询评论
    List<Comment> selectCommentsByEntity(int entityType, int entityId, int offset, int limit);-->
    <select id="selectCommentsByEntity" resultType="com.campushub.community.entity.Comment">
        select <include refid="selectFields"></include>
        from comment
        where status = 0
        and entity_type = #{entityType}
        and entity_id = #{entityId}
        order by create_time asc
        limit #{offset}, #{limit}
    </select>

    <!--查询评论数量
    int selectCountByEntity(int entityType, int entityId);-->
    <select id="selectCountByEntity" resultType="int">
        select count(id)
        from comment
        where status = 0
        and entity_type = #{entityType}
        and entity_id = #{entityId}
    </select>

    <!--添加帖子
    int insertComment(Comment comment);-->
    <insert id="insertComment" parameterType="com.campushub.community.entity.Comment">
        insert into comment(<include refid="insertFields"></include>)
        values(#{userId},#{entityType},#{entityId},#{targetId},#{content},#{status},#{createTime})
    </insert>

    <!--根据id查询评论
    Comment selectCommentById(int id);-->
    <select id="selectCommentById" resultType="com.campushub.community.entity.Comment">
        select <include refid="selectFields"></include>
        from comment
        where id = #{id}
    </select>

</mapper>